In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [['Shivani', 24], ['Raksha', 23], ['Swaksha', 22]]

In [3]:
type(data)

list

In [4]:
df = pd.DataFrame(data, columns=['Name', 'Code'])

In [5]:
print(df)

      Name  Code
0  Shivani    24
1   Raksha    23
2  Swaksha    22

In [10]:
np1 = np.array([['', "ColA", 'ColB'],
               ['RowX', 111, 222],
               ['Rowy', 3333, 4444]])

In [8]:
type(np1)

numpy.ndarray

In [11]:
df1 = pd.DataFrame(data=np1[1:,1:],
                  index=np1[1:,0],
                  columns=np1[0,1:])
print(df1)

      ColA  ColB
RowX   111   222
Rowy  3333  4444